<div *ngFor="let ticket of allTickets">
  <p>{{ ticket.ticketId }}</p>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col" >Ticket Id</th>
      <th scope="col">Ticket Title</th>
      <th scope="col" *ngIf="display">Date Submitted</th>
      <th scope="col" *ngIf="display">Details</th>
      <th scope="col" *ngIf="display">Priority</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ticket of allTickets">
      <td><a>{{ ticket.ticketId }}</a></td>
      <td>{{ ticket.title }}</td>
      <td><button class="btn btn-primary"  (click)="confirm()">Details</button></td>
      <td *ngIf="display">{{ ticket.dateSubmitted }}</td>
      <td *ngIf="display">{{ ticket.details }}</td>
      <td *ngIf="display">{{ ticket.priority }}</td>
    </tr>
  </tbody>
</table>